<form>
    <div class="form-group">
        <label for="xp-amount">XP to distribute:</label>
        <input type="number" id="xp-amount" value="100" min="0" />
    </div>

    <div class="form-group">
        <label>Select Characters:</label>
        {{!--<button type="button" id="deselect-all">Deselect All</button>--}}
        <section id="actor-select">
            <div class="distribute-xp--actor-list">
                {{#each playerCharacters}}
                    <label>
                        <input type="checkbox" class="xp-target" data-id="{{this.id}}" checked>
                        <div class="distribute-xp--actor-icon" style="background-image: url({{this.img}})"></div>
                        <span>{{this.name}}</span>
                    </label>
                {{/each}}
            </div>
        </section>
    </div>
</form>

<style>
    .distribute-xp--actor-list{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
        gap: 10px;
        margin-top: 10px;
        justify-content: center;
        max-width: 400px;
    }
    .distribute-xp--actor-list label {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        text-align: center;
    }
    .distribute-xp--actor-icon{
        width: 60px;
        height: 60px;
        background-size: cover;
        border: 2px solid transparent;
    }
    .xp-target:checked + .distribute-xp--actor-icon {
        border-color: green;
    }
</style>

<script>
    document.getElementById("deselect-all").addEventListener("click", () => {
        document.querySelectorAll(".xp-target").forEach(checkbox => checkbox.checked = false);
    });
</script>